body {
	margin: auto;
	width: 95%;
}

#menu {
	margin: 0 auto 50px auto;
}

canvas {
	margin-top: 75px;
	border: 1px solid black;
}

#opciones {
	display:block;
	padding: 0 10% 20px;
	width:100%;
	background-color: #080808;
}

#opciones h4 {
	color: #888;
}